*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#id {
    display: flex;
    margin: 10px auto;
    width: 1024px;
    height: 100vh;
}

h1 {
    margin: 50px 0;
    text-align: center;
}



.list-email {
    background-color: #c2ccec;
    list-style: none;
}


.data-email {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
}

.btn {
    width: 100px; 
    margin: 10px auto; 
    display: block;
}